<h1>FotosDaw</h1>

<form>
    <label>Título:</label>
    <input [(ngModel)]="ad.title" type="text" placeholder="Título del Anuncio" />
    <label>Descripción:</label>
    <input [(ngModel)]="ad.description" type="text" placeholder="Descripción del Anuncio">
    <label>Precio:</label>
    <input [(ngModel)]="ad.price" type="number" placeholder="Precio del Anuncio">
    <button (click)="createAd()">Dar de alta</button>
</form>

<ul>
    <span>Casas en alquiler</span>
    <li *ngFor="let ad in adsNotRented">
        <a [routerLink]="['/ad', ad.id]">Titulo: {{ad.title}}, Precio: {{ad.price}}</a>
    </li>
</ul>

<ul>
    <span>Casas alquiladas</span>
    <li *ngFor="let ad in adsRented">
        <a [routerLink]="['/ad', ad.id]">Titulo: {{ad.title}}, Precio: {{ad.price}}</a>
    </li>
</ul>