<h1>Ludomaniacos</h1>

<form>
    <label>Nombre:</label>
    <input [(ngModel)]="game.name" type="text" placeholder="Nombre del Juego" />
    <label>Precio:</label>
    <input [(ngModel)]="game.price" type="number" placeholder="Precio del Juego">
    <label>Unidades disponibles:</label>
    <input [(ngModel)]="game.stock" type="number" placeholder="Unidades disponibles del Juego">
    <label>En oferta:</label>
    <input [(ngModel)]="game.discount" type="checkbox" />
    <button (click)="createGame()">Registrar nuevo juego</button>
</form>

<ul>
    <span>Juegos</span>
    <li *ngFor="let game in nonDiscountedGames">
        <span><a [routerLink]="['/game', game.id]">Nombre: {{game.name}}</a></span>
        <span>Precio base: {{game.price}}</span>
    </li>
</ul>

<ul>
    <span>Juegos en oferta</span>
    <li *ngFor="let game in discountedGames">
        <span><a [routerLink]="['/game', game.id]">Nombre: {{game.name}}</a></span>
        <span style="text-decoration: line-through;">Precio base: {{game.price}}</span>
        <span>Precio oferta: {{game.price * 0.8}}</span>
    </li>
</ul>