<h1>Nueva entrega</h1>

<form>
  <div>
    <label>Matrícula: </label>
    <input [(ngModel)]="delivery.license" placeholder="Matrícula" />
  </div>

  <div>
    <label>Modelo: </label>
    <input [(ngModel)]="delivery.model" placeholder="Modelo" />
  </div>

  <div>
    <label>Color: </label>
    <input [(ngModel)]="delivery.color" placeholder="Color" />
  </div>

  <div>
    <label>Cilindrada: </label>
    <input [(ngModel)]="delivery.cylinder" placeholder="Cilindrada" />
  </div>

  <div>
    <label>Dirección de envio: </label>
    <input [(ngModel)]="delivery.clientAddress" placeholder="Dirección de envio" />
  </div>

  <div>
    <label>Nombre cliente: </label>
    <input [(ngModel)]="delivery.clientName" placeholder="Nombre cliente" />
  </div>

  <button (click)="createDelivery()">Dar de alta</button>
</form>

<h1>Entregas pendientes</h1>

<ul>
  <li *ngFor="let delivery of pendingDeliveries">
    Matrícula: {{ delivery.license }}, 
    Modelo: {{ delivery.model }}, 
    Color: {{ delivery.color }},
    Cilindrada: {{ delivery.cylinder }}, 
    Dirección de envio: {{ delivery.clientAddress }}, 
    Nombre cliente: {{ delivery.clientName }}

    <button (click)="cancelDelivery(delivery.id)">Cancelar Entrega</button>
    <button (click)="finalizeDelivery(delivery)">Entrega Finalizada</button>
  </li>
</ul>

<h1>Entregas finalizadas</h1>

<ul>
  <li *ngFor="let delivery of finishedDeliveries">
    Matrícula: {{ delivery.license }}, 
    Modelo: {{ delivery.model }}, 
    Color: {{ delivery.color }},
    Cilindrada: {{ delivery.cylinder }}, 
    Dirección de envio: {{ delivery.clientAddress }}, 
    Nombre cliente: {{ delivery.clientName }}
  </li>
</ul>